html { 
	background-color: black;
}

body {
	margin: 0px;
}

.bg {
	width: 100%;
	height: 100%;
	background: url(proposal.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: none;
}